<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>frgot-password</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="bg-info my-5 d-flex justify-content-center align-items-center">
    <form action="" class="bg-light p-5 w-50 rounded" method="post">
        <% if (error) { %>
            <div class='alert alert-danger'>
                <%= error %>
            </div>
            <% } %>
                <label for="email" class="form-label">enter new password</label>
                <input class="form-control mb-3" type="password" name="password" id="email">
                <label for="email" class="form-label">confirm password</label>
                <input class="form-control mb-3" type="password" name="confirmPassword" id="email">
                <button class="btn btn-primary">submit</button>
    </form>
</body>

</html>